<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    <h1><%= @shop.name %></h1>
  </div>
</div>

  <div class="row my-2">
    <% @shop.products.each do |product| %>
      <% shop = shop.find_by(shop: @shop, product: product) %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= shop.name %> <span class="text-muted font-weight-normal">•<i class="fas fa-star star-yellow"></i></span></strong>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= shop.history %></small>
              </div>
              <small class="text-right flex-shrink-0"><%= link_to 'delete', shop_path(shop), method: :delete, data: { confirm: "Are you sure you want to remove #{shop.name} from your #{@user.name} list"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>