.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
<<<<<<< HEAD
  background-color: rgba(148, 235, 147, 1);
  }
=======
  position: sticky;
  top: 0;
}
>>>>>>> 568aaaee5d9f16a5a5b94290499705df8b63297a

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

