.navbar-lewagon {
  justify-content: space-between;
  background: rgb(238, 116, 75);
  position: sticky;
  top: 0
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse:hover {
  cursor: pointer;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
.nav-logo{
 border-radius: 50%; 
 width: 1000px;
}

.search-form-control{
  position: relative;
  padding: 10px;
}

.search-form-control input {
  width: 240px;
  height: 40px;
  padding: 0 20;
  font-size: 18px;
  color: #000;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
}


.form-group {
  margin:0;
  padding:20px ;

  &:first-child { border-color: transparent; }
}

.form-control {
padding: 0px 10px 0 20px;
margin-top: 10px;
color: #333;
font-size: 18px;
font-weight: 500;
border: 0px solid #555;
-webkit-box-shadow: none;
box-shadow: none;
min-height:20px;
height: auto;
border-radius: 50px 0  0 50px !important;
}

.form-control :focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

.input-group {
  text-align: center;
}