.cont-product{
  background-color:rgba(148, 235, 147, 1);
  margin: 10%;
  display:inline-block
}

img{
    text-align: left;
}
.btn-focus {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 4px 15px;
  border-radius: 30px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.product-card {
  background-color:rgba(148, 235, 147, 0.6);
  border-radius: 0,9%;
}