<h1>LA CANASTA VERDE</h1>
<h2>Productos</h2>
<div class="container">
    <div class="d-flex flex-wrap justify-content-around">
    <% @products.each do |product| %>    
      <div class="card-trip m-4">
      <%= cl_image_tag("rngzwh2lt8jjhfv0ycvw",
      width: 400, height: 300, crop: :fill) %>

        <div class="card-trip-infos">
          <div>
            <h2><%= link_to product.title.capitalize, shop_product_path(product.shop, product) %></h2>
            <p class="card-trip-pricing">Precio: $<%= product.price %></p>
          </div>
          <div class="mt-2">
            <p class="card-amount">Cantidad: <%= product.amount %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
